.component-box {
    display: inline-block;
    position: relative;
    cursor: grab;
  }
  
  .pins-tooltip {
    display: none;
    position: absolute;
    top: -80px;
    left: 0;
    background: white;
    border: 1px solid black;
    padding: 5px;
    z-index: 100;
  }
  
  .component-box:hover .pins-tooltip {
    display: block;
  }
  